*{
    font-family:'Caesar Dressing', cursive;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: azure;
    
}

/*start navbar*/
.navbar{
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%));
  position: absolute;
  justify-content: center;
  display: flex;
}
.barname h1{
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    margin-left: 80px;
}
.navbar h1:hover{
    color: rgb(255, 123, 0);
    transition: 0.5s ease-in;
    text-shadow: 5px 5px 5px rgb(251, 253, 255);
}
/* social media start */
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar i{
    font-size: 50px;
    color: #fff;
    margin-right: 20px;
}
.navbar i:hover{
    color: rgb(255, 123, 0);
    transition: 0.5s ease-in;
    text-shadow: 5px 5px 5px rgb(251, 253, 255);
}
/* end of social media */
/*end navbar*/
/*start side navbar*/


  .main_box .sidebar_menu{
    margin-top: 0px;
    position: fixed;
    height: 500px;
    width: 280px;
    left: -280px;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%));
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: all 0.3s linear;
    z-index: 1;
  }
  .sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
  }
  .sidebar_menu .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
  }
  .sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width:100%;
  }
  .sidebar_menu .menu li{
    list-style: none;
    margin-top: 6px;
    padding: 4px 2px;
  }
  .sidebar_menu .menu i{
    color: #fff;
    font-size: 20px;
    padding-right: 8px;
  }
  .sidebar_menu .menu a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .sidebar_menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgb(255, 255, 255);
  }
  .sidebar_menu .social_media{
    display: flex;
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    bottom: 20px;
    list-style: none;
    cursor: pointer;
  }
  .social_media ul{
    list-style: none;
    position: absolute;
    display: flex;
    bottom: 20px;
    margin-left: 20px;
  }
  .sidebar_menu .social_media i{
    list-style: none;
    text-decoration: none;
    padding: 0 5px;
    color: #fff;
    height: 35px;
    font-size: 30px;
    
  }
  .sidebar_menu .social_media i:hover{
    color: rgb(255, 123, 0);
    transition: 0.5s ease-in;
    text-shadow: 5px 5px 5px rgb(251, 253, 255);
    transform: scale(1.01);
  }
  #check{
    display: none;
  }
  .main_box .btn_one img{
    height: 50px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 40px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
    position: fixed;  
    margin-top: 80px;
  }
   .sidebar_menu .btn_two img{
    height: 35px;
    line-height: 60px;
    position: absolute;
    left: 120px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
  }
  .btn_one img:hover{
    height: 60px;
  }
  .btn_two img:hover{
    height: 45px;
    
  }
  label p{
    font-size: 20px;
    color: #12b8ff; 
    margin-top: 51px;
    margin-left: 18px;
    position: fixed;
  }
  label p:hover{
      font-size: 25px;
      color: rgb(255, 123, 0);
      transition: 0.5s ease-in;
      text-shadow: 5px 5px 5px rgb(251, 253, 255);
  }

  #check:checked ~ .sidebar_menu{
    left: 0;
  }
  #check:checked ~ .btn_one img{
    opacity: 0;
  }
  #check:checked ~ .sidebar_menu .btn_two img{
    opacity: 1;
  }
  /*end side navbar*/
  /*img slider start*/
  .img-slider{
    box-shadow: 2px 4px 50px #12b8ff;
    margin-left: 300px;
    position: absolute;
    width: 1000px;
    height: 600px;
    margin-top: 0px;
    background: #648df5;
    box-shadow: 2px 4px 50px #12b8ff;
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 820px){
    .img-slider{
      width: 600px;
      height: 375px;
    }
  
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
  }
                                       /*img slider end*/

                                                           /* menu title*/
.menu-title h2{
    position: absolute;
    align-items: center;
    left: 50%;
    height: 60px;
    width: 100%;
    margin-top: 750px;
    font-size: 60px;
    font-weight: 600;
    color: #12b8ff;
}
h2{
    

}
h2:hover{
    color: rgb(255, 123, 0);
      transition: 0.5s ease-in;
      text-shadow: 5px 5px 5px rgb(251, 253, 255);
}

                                                                     /*menu start*/

.card{
    display: grid;
    height: 280px;
    max-width: 350px;
    top: 1000px;
    padding: 10px;
    margin: 20 20px;
    background: white;
    transition: 0.5s ease-out;
    box-shadow: 2px 2px 15px #12b8ff;;
  }
  .card:hover{
    height: 470px;
    box-shadow: 5px 5px 40px #12b8ff;;
  }
  .card .img_menu{
    height: 200px;
    width: 100%;
  }
  .card .img_menu img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .card .top-text{
    padding: 5px;
  }
  .card .top-text .name{
    font-size: 25px;
    font-weight: 600;
    color: #12b8ff;
  }
  .card .top-text p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 123, 0);
    line-height: 20px;
  }
  .card .bottom-text{
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
  }
  .card:hover .bottom-text{
    opacity: 1;
    visibility: visible;
  }
  .card .bottom-text .text{
    text-align: justify;
  }
  .card .bottom-text .btn{
    margin: 10px 0;
    text-align: left;
  }
  .card .bottom-text .btn a{
    text-decoration: none;
    background: #e74c3c;
    color: #f2f2f2;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
  }
  .card .bottom-text .btn a:hover{
    transform: scale(0.9);
  }
  @media screen and (max-width: 978px) {
    .container{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .card{
      max-width: 700px;
      margin: 20px 0;
    }
  }


                                                                /* food menu */
  .container{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 0px;
    left: 100px;
  }
  .part2{
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      margin-top: 40px;
  }
  .part3{
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      margin-top: 40px;
  }
  .part4{
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      margin-top: 40px;
  }
  .wine1{
      position: relative;
  }
  
  .wine1 h2{
      position: absolute;
      text-align: center;
      margin-top: 1100px;
      display: flex;
      font-size: 8em;
      text-shadow: 2px 3px rgb(142, 25, 25);
      right: 50%; 
      transform: translate(-50%, -50%);
  }
  .wine1 h2:nth-child(1){
      color: transparent;
      -webkit-text-sroke: 2px #03a9f4
  }
  .wine1 h2:nth-child(2){
      color: rgb(171, 20, 20);
      animation: animate 5s ease-in-out infinite;
  }
  @keyframes animate{
      0%,100%{
          clip-path: polygon(0% 37%, 2% 35%, 8% 32%, 15% 27%, 23% 27%, 35% 29%, 43% 32%, 48% 39%, 53% 47%, 58% 55%, 64% 60%, 72% 62%, 79% 64%, 88% 63%, 94% 61%, 98% 56%, 99% 100%, 0% 99%);
  
  
      }
      50%{
          clip-path: polygon(99% 30%, 92% 26%, 85% 22%, 79% 21%, 69% 24%, 60% 31%, 55% 39%, 49% 47%, 40% 53%, 33% 55%, 25% 55%, 15% 52%, 11% 48%, 5% 44%, 2% 42%, 1% 99%, 99% 99%);
  
      }
  }
  
  .part5{
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      margin-top: 160px;
  }
  
  .part6{
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      margin-top: 40px;
  }
  .part7{
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      margin-top: 40px;
  }
  .part8{
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      margin-top: 40px;
  }

  .part9{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 160px;
}

.contact-wrapper-container{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    position: absolute;
    display: inline-block;
    margin-top: 1200px;
    align-items: center;
    justify-content: space-between;
}
  
  
  .beer h3{
      position: absolute;
      text-align: center;
      margin-top: 1100px;
      display: flex;
      font-size: 3em;
      text-shadow: 2px 3px rgb(50, 144, 238);
      
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .beer h3:nth-child(1){
      color: transparent;
      -webkit-text-srtoke: 2px #03a9f4;
  }
  .beer h3:nth-child(2){
      color: rgb(255, 123, 0);
      animation: animate 5s ease-in-out infinite;
  }
  @keyframes animate{
      0%,100%{
          clip-path: polygon(100% 16%, 96% 22%, 92% 28%, 82% 33%, 73% 35%, 59% 37%, 52% 35%, 43% 29%, 36% 22%, 24% 17%, 18% 16%, 10% 16%, 4% 20%, 1% 26%, 0% 97%, 100% 99%);
  
  
      }
      50%{
          clip-path: polygon(0% 10%, 4% 13%, 10% 15%, 17% 18%, 24% 20%, 29% 23%, 36% 28%, 43% 32%, 47% 37%, 57% 37%, 59% 37%, 68% 35%, 73% 32%, 78% 28%, 81% 23%, 82% 20%, 85% 15%, 92% 10%, 100% 7%, 100% 98%, 1% 99%);
  
      }
  }
  /*menu */

  /* events start */
 
   /* start of contact */
   .contact-ifo{
       box-sizing: border-box;
      

   }
   .title h2{
       font-size: 60px;
       color: rgb(50, 144, 238);
       position: absolute;
       margin-top: 10px;
       right: 50%;
     }
     .title h2:hover{
        color: rgb(255, 123, 0);
        transition: 0.5s ease-in;
        text-shadow: 5px 5px 5px rgb(78, 157, 236);
     }
    /*end of contact */

    /* iframe start*/



    .contact-map iframe{
        position: absolute;
        margin-top: 100px;
        width: 320px;
        height: 320px;
        left: 100px;
        box-shadow: 2px 3px 15px rgb(33, 115, 255);
    }
    .contact-map iframe:hover{
        box-shadow: 4px 6px 45px rgb(33, 115, 255);
        width: 400px;
        height: 400px;
    }
        /* iframe end*/

        /* start info */
        .box{
            position: absolute;
            right: 50%;
            display: flex;
        }

        .contactinfo {
            align-items: center;
            position: absolute;
            justify-items: center;
            margin-top: 120px;
            right: 50%;
            display: flex;
            
        }
        
        .contactinfo2 {
            align-items: center;
            position: absolute;
            justify-items: center;
            right: 50%;
            margin-top: 250px;
            display: flex;
            
            
        }
        .contactinfo3 {
            align-items: center;
            position: absolute;
            margin-top: 250px;
            display: flex;
            
            justify-items: center;
            
            
        }
        .icon i{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background: #1488CC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%));
            border-radius: 50%;
            color: azure ;
            
        }
        
        .icon i:hover{
            width: 70px;
            height: 70px;
            color: rgb(255, 123, 0);
            transition: 0.5s ease-in;
        }
        
        .text {
            margin-top: 70px;
            color: rgb(33, 115, 255);
            font-size: 16px;
            margin-right: 150px;
            display: flex;
            position: absolute;
        }

        /* end of contact */

        /* start of reservation */
        .reservation{
            position: absolute;
            justify-content: space-around;
            align-items: center;
            box-sizing: border-box;
            height: 600px;
            width: 400px;
            right: 10px;
            top: 50px;
            
        }
        .form-group{
            width: 400px;
            height: 40px;
            padding: 5px 5px;
            text-decoration: #03a9f4;
            

        }
        .form-group input{
            color: #fff;
        }
        .form-group input:focus{
            color: #fff;
        }
        .reservation-title h2{
            font-size: 50px;
            font-weight: 600;
            color: rgb(50, 144, 238);
        }
        .reservation-title h2:hover{
            color: rgb(255, 123, 0);
            transition: 0.5s ease-in;
            text-shadow: 5px 5px 5px rgb(78, 157, 236);

        }
        input{
            background: #1488CC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%));
            border: none;
            
        }
        .form-control{
            background: #1488CC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%));
            color: #fff;
            
        }
        select{
            background: #1488CC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%));
            border: none;
            color: #fff;
        }
        option{
            background: #1488CC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%));
            border: none;
            color: #fff;

        }
        textarea[type=text]{
            background: #1488CC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%));
            border: none;
            color: #fff;
        }
        textarea[type=text]:focus{
            color: #fff;
        }
        input[type=number]{
            width: 150px;
            margin: 2px;
        }
        #hours:focus{
            background: #1488CC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%));
            border: none;
            color: #fff;
        }
        input[type=submit]{
            margin: 5px;
        }
        select{
            margin: 2px;
        }
        input[type=submit]:hover{
            color: rgb(255, 123, 0);
            transition: 0.5s ease-in;
            text-shadow: 5px 5px 5px rgb(78, 157, 236);
        }
        /* end of reservation */

        /* footer start */
        footer {
            display: flex;
            justify-content: center;
           
        
        }
        footer{
            position: absolute;
            align-items: center;
            justify-content: center;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 80px;
            background-color: background: #1488CC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2B32B2, hsl(202, 100%, 43%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
            
        }
        .payments {
            display: flex;
            align-items: center;
        
        }
        .payments ul li  {
            list-style: none;
            display: inline-block;
            justify-content: space-between;
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 0px;
            
        }
        .payments a {
            font-size: 60px;
            color: azure;
            text-decoration: none;
            
        }
        .payments img {
            width: 200px;
            height: 65px;
            
        }
        .payments li a {
            transition: all 0.5s ease 0s;
        }
        .payments li a:hover {
            color: rgb(255, 123, 0);
        }
        .copyright p {
            color: azure;
            font-size: 20px;
            margin-bottom: 0;
        }
